*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    height: 120px;
    background-color:#ffe194b7;
}
body header{
    font-family: "Trirong", serif;
}
body{
    font-family:sans-serif;
}

.logo{
    display: flex;
}
.logo img{
    height: 120px;
}
.logo h1{
    margin-top: 40px;
    margin-left: 20px;
}
.bar{
    margin-top: 50px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.informacion{
    justify-content: space-between;
    grid-template-columns: repeat(6,1fr);
}
.title1,
.title2{
    margin: 20px;
}
.contentNews,
.content {
    display: flex;
    margin: 20px;

}
.article{
    grid-column: 1/6;
}
.article img{
    justify-content: center;
    grid-column: 1/6;
    margin-right: 5px;
}

.especie{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
#img1{
    margin-right: 10px;
}
#img2{
    margin-left: 100px;
}



.footer{
    background-color:#ffe194b7;
    padding: 80px 0;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    
}
.footer-link{
    width: 25%;
    padding: 0 15px;
   
}
.footer-link h1{
    font-family: "Trirong", serif;
    font-size: 20px;
    color:black;
    margin-bottom: 20px;
    border-bottom: 2px solid white;
    display: inline-block;
    padding-bottom: 10px;
    display: inline-block;
}
.footer-link ul li a{
    font-size: 15px;
    text-decoration: none;
    color: black;
    margin-bottom: 15px;
}

.sinestilo{
    list-style: none;
}