*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    height: 120px;
    background-color:#ffe194b7;
}

body{
    font-family:Georgia, serif;
}

.logo{
    display: flex;
}
.logo img{
    height: 120px;
}
.logo h1{
    margin-top: 40px;
    margin-left: 20px;
}
.bar{
    margin-top: 50px;
    margin-right: 20px;
}
.informacion{
    justify-content: space-between;
    grid-template-columns: repeat(6,1fr);
}
.title1,
.title2{
    margin: 20px;
}
.contentNews,
.content {
    display: flex;
    margin: 20px;

}
.article{
    grid-column: 1/6;
    border: solid 2px;
}
