*{
    margin: 0;
    padding: 0;
}

.title{
    text-align: center;
    margin-top: 30px;
    font-family: "Trirong", serif;
}

.formulario form{
    /* background-color:#f7b716b0; */
    background-color: #b0ea43;
    width: 300px;
    margin: auto;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: "Trirong", serif;
}
.formulario, #formu label p{
    font-size: 18px;
}
button{
    margin-top: 10px;
}
.formulario{
    height: 500px;
    display: flex;
}
.check{
    display: flex;
    flex-direction: row;
    gap:5px;
}
#errores li{
    margin-left:20px;
    color:red;
}
.mal{
    border: 2px solid red;
    outline: none;
}

#carga{
    justify-content: space-between;
}

#carga ul{
    display: flex;
    border-radius: 10px;
    border: 5px solid #b0ea43da;
    list-style: none;
    margin: 20px;
    padding: 15px;
}